.main-component {
    background-color: #21212b;
    padding-top: 5%;
}

.main-radioContainer {
    width: 350px;
    margin: auto;
    background-color: #292933;
    height: 521px;
    border-radius: 25px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-stationContainer {
    width: 100%;
    height: 340px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 20px;
}
